* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    list-style: none;
    color: yellow;
    font-size: 1.6rem;
    font-weight: bolder;
}
a:hover {
    color: white;
}
.bi-cart4 {
    color: yellow;
}
.header-bg {
    background: #000;
    margin-bottom: 1rem;
}
.header-row {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 10rem;
}
nav ul li {
    display: inline-block;
}
.bi-cart4 {
    font-size: 3rem;
    cursor: pointer;
}
.bi-cart4:hover {
    color: white;
}
.card-product {
    display: flex;
    align-items: center;
    border: 0.2rem solid #000;
    border-radius: 1rem;
    padding: 1rem;
}
.stock {
    font-size: 1.2rem;
    font-weight: 500;
}
.productCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productCounter p {
    font-size: 1.2rem;
    align-self: center;
    text-align: center;
    margin-top: 0.4rem;
}
.main {
    display: flex;
    justify-content: center;
}
.item {
    border: 0.2rem solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: bolder;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
}
.item:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
        0 24px 46px rgba(219, 222, 228, 0.034);
    background-color: #000;
    color: yellow;
    border: 0.2rem solid yellow;
}

.productCounter:hover {
    color: yellow;
}
.card-title {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

/* .itemList {
    color: #000;
    font-size: 1.6rem;
    margin-left: 0.5rem;
    font-weight: bolder;
    border: 0.2rem solid black;
    text-align: center;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}
 */
