* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    list-style: none;
    color: yellow;
    font-size: 1.6rem;
    font-weight: bolder;
}
a:hover {
    color: white;
}
.bi-cart4 {
    color: yellow;
}
.header-bg {
    background: #000;
}
.header-row {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 10rem;
}
nav ul li {
    display: inline-block;
}
.bi-cart4 {
    font-size: 3rem;
    cursor: pointer;
}
.bi-cart4:hover {
    color: white;
}
.itemList {
    color: #000;
    font-size: 1.6rem;
    margin-left: 0.5rem;
    margin-top: 0.9rem;
    font-weight: bolder;
    border: 0.2rem solid black;
    text-align: center;
}